body{
    background-color: #FFE4B5;
  }
  h1 {background-color: #E6E6FA;
  color: #000;
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
  font-style:italic, bold;
  }
  h2 {background-color: #E6E6FA;
    color: #000;
    font-size:smaller ;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    }